/******************/
/* CSS HOME PAGINA*/
/******************/

/* main navigatie */
section:nth-of-type(1) {
  display: grid;
  gap: 1rem;
  margin: 0rem;
}

section:nth-of-type(1) > h1[aria-label],
section:nth-of-type(1) > section > h2[aria-label] {
  display: none;
}


section:nth-of-type(1) > section:nth-of-type(1) {
  background-color: #001e07;
  color: #c5e3be;
  padding: 2.5rem 2.75rem 3rem 2.75rem;
  border-radius: 2rem;
}

section:nth-of-type(1) > section:nth-of-type(1) > h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1.5rem;
}

section:nth-of-type(1) > section:nth-of-type(1) nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section:nth-of-type(1) > section:nth-of-type(1) nav li {
  display: flex;
  align-items: center;
  font-size: 2em;
  gap: .75rem;
  padding: 1.15rem 0;
  border-bottom: 1px solid rgba(197, 227, 190, .1);
}

section:nth-of-type(1) > section:nth-of-type(1) nav li > a {
  display: flex;
  align-items: center;
  gap: .65rem;
  color: #c5e3be;
  text-decoration: none;
  flex: 1 1 auto;              
}

section:nth-of-type(1) > section:nth-of-type(1) nav li > a svg:first-of-type {
  flex: 0 0 auto;
}

section:nth-of-type(1) > section:nth-of-type(1) nav li svg:last-of-type {
  flex: 0 0 auto;
}

section:nth-of-type(1) > section:nth-of-type(2) img {
  width: 100%;
  display: block;
  border-radius: 2rem;
  object-fit: cover;
}



@media (min-width: 70em) {
  section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 1rem;
  }

  section:nth-of-type(1) > section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  section:nth-of-type(1) > section:nth-of-type(2) img {
    height: 100%;
    grid-column: 2;
  }
}











/* carousel */
/*knoppen bron:  https://chrome.dev/carousel-configurator/ (Sanne derde voortgangsgesprek)
Helaas nog wat foutmeldingen door onbekende/nieuwe features*/
section:nth-of-type(2) ul:nth-of-type(1) {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

}

section:nth-of-type(2) ul {
  background-color: #f0f0ec;
  color: black;
  border-radius: 2em;
  margin-top: 2rem;
  position: relative;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
}

/* generieke scroll-knoppen */
section:nth-of-type(2) ul::scroll-button(*) {
  position: fixed;                 
  position-anchor: --carousel;
  position-visibility: always;    
  font-family: "Omnes";
  margin-top: 1em;
  height: 2em;
}

section:nth-of-type(2) ul::scroll-button(right) {
  position-area: center;
  content: '→' / 'Next';
  justify-self: end;
}

section:nth-of-type(2) ul::scroll-button(left) {
  position-area: center;
  content: '←' / 'Previous';
  justify-self: start;
}





section:nth-of-type(2) img {
  width: 100%;
  height: auto;
  order: 1;
  display: block;
  border-radius: 2em;
}

section:nth-of-type(2) h2 {
  order: 2;
  margin: .25rem 0 .5rem 0;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: .8;
  letter-spacing: .02em;
  font-weight: 500; 
  max-width: 5em;    
  color: white;
  -webkit-text-stroke: 2px black; /* Bron: https://stackoverflow.com/questions/4919076/outline-effect-to-text  */   
}

section:nth-of-type(2) p {
  order: 3;
}

section:nth-of-type(2) a {
  order: 4;
  color: black;
  text-decoration: none;
  padding-top: 1em;
}

section:nth-of-type(2) li {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: clamp(22rem, 70vw, 40rem);
  max-width: 27em;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 1.75em;
  margin: 1em;
  padding: 1em;
}

/* carousel eerste li */
section:nth-of-type(2) li:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  background-color: #c5e3be;
}

/* carousel tweede li */
section:nth-of-type(2) li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  background-color: white;
}

/* carousel derde li */
section:nth-of-type(2) li:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  color: white;
}

section:nth-of-type(2) li:nth-of-type(3) h2{
  filter: invert(1); /* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert */
}

section:nth-of-type(2) li:nth-of-type(3) a {
  color: white;
}

section ul:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}














/* hier, in het hart van Amsterdam...*/
section:nth-of-type(3){
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

section:nth-of-type(3) h2{
  font-size: 2.5em;
  font-weight: 50;
  margin-bottom: 1.8em;
  max-width: 13em;
}

section:nth-of-type(3) h3{
  font-size: 1.5em;
  font-weight: 50;
  margin-bottom: 1.6em;
  max-width: 20em;
}

section:nth-of-type(3) p{
  font-size: 1.1em;
  font-weight: lighter;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 28em;
}

section:nth-of-type(3) a{
  color: black;
  text-decoration: none;
  margin-bottom: 4em;
}


@media (min-width: 54em){
  section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section:nth-of-type(3) h2{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 3.5;
  }

  section:nth-of-type(3) h3{
    grid-column-start: 2;
    grid-column-end: 4;
  }

  section:nth-of-type(3) p{
    grid-column-start: 2;
    grid-column-end: 4;
  }

  section:nth-of-type(3) a{
    grid-column-start: 2;
    grid-column-end: 4;
  }
}



@media (min-width: 64em){
  section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5em 4em 5em;
  }

  section:nth-of-type(3) h2{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 2.5em;
  }

  section:nth-of-type(3) h3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
  }

  section:nth-of-type(3) p{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
  }

  section:nth-of-type(3) a{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
  }
}
















/* section "sinds 1838.." */
section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #c5e3be;
  border-radius: 1em;
  overflow: hidden;
  padding: 1.25rem;
  margin: .5em;
}

section:nth-of-type(4) ul {
  display: inline-flex;
  gap: .5rem;
  align-items: center;
  padding: .5rem .75rem;
  background-color: #f0f0ec;
  width: max-content;
  border-radius: 1em;
  font-size: .875rem;
}

section:nth-of-type(4) img {
  width: 100%;
  height: auto;
  display: block;
  order: 1;
  border-radius: 2em;
}

section:nth-of-type(4) h2 {
  order: 2;
  font-size: 2em;
  line-height: 1.15;
  letter-spacing: -0.02em;
  margin: 0;
  max-width: 36ch;     
}

section:nth-of-type(4) p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  max-width: 62ch;
  order: 3;
}

section:nth-of-type(4) a {
  order: 4;
  color: black;
  text-decoration: none;
}

@media (min-width: 64em) {

  section:nth-of-type(4){
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 2.5rem;
  }

  section:nth-of-type(4) h2, section:nth-of-type(4) p, section:nth-of-type(4) a {
    grid-column: 1;
    order: 0;
  }

  section:nth-of-type(4) h2 {
    grid-row-start: 1;
    font-size: 2.5em;
  }

  section:nth-of-type(4) p {
    grid-row-start: 2;
    font-size: 1.5em;
  }

  section:nth-of-type(4) a {
    grid-row-start: 3;
    font-size: 1em;
  }

  section:nth-of-type(4) > h2 {
    margin-bottom: 1.25rem;
  }

  section:nth-of-type(4) > p {
    margin-bottom: 1rem;
  }

  section:nth-of-type(4) > h2,
  section:nth-of-type(4) > p,
  section:nth-of-type(4) > a {
    align-self: start; 
    margin: 0;
  }

  section:nth-of-type(4) img {
    order: 0;
    grid-column: 2;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}















/* section "leer van natuur" */
section:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #c5e3be;
  border-radius: 1em;
  overflow: hidden;
  padding: 1.25rem;
  margin: .5em;
}

section:nth-of-type(5) ul {
  display: inline-flex;
  gap: .5rem;
  align-items: center;
  padding: .5rem .75rem;
  background-color: #f0f0ec;
  width: max-content;
  border-radius: 1em;
  font-size: .875rem;
}

section:nth-of-type(5) img {
  width: 100%;
  height: auto;
  display: block;
  order: 1;
  border-radius: 2em;
}

section:nth-of-type(5) h2 {
  order: 2;
  font-size: 2em;
  line-height: 1.15;
  letter-spacing: -0.02em;
  margin: 0;
  max-width: 36ch;     
}

section:nth-of-type(5) p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  max-width: 62ch;
  order: 3;
}

section:nth-of-type(5) a {
  order: 4;
  color: black;
  text-decoration: none;
}

section ul:nth-of-type(5) {
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(5) ul:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}

@media (min-width: 64em) {

  section:nth-of-type(5){
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 2.5rem;
  }

  section:nth-of-type(5) h2, section:nth-of-type(5) p, section:nth-of-type(5) a {
    grid-column: 2;
    order: 0;
  }

  section:nth-of-type(5) > h2 {
    margin-bottom: 1.25rem;
    font-size: 2.5em;
  }

  section:nth-of-type(5) > p {
    margin-bottom: 1rem;
  }

  section:nth-of-type(5) > h2,
  section:nth-of-type(5) > p,
  section:nth-of-type(5) > a {
    align-self: start; 
    margin: 0;
  }

  section:nth-of-type(5) img {
    order: 0;
    grid-column: 1;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}











/*Decoratieve foto heimanseik */
figure img {
  width: 100%;
  border-radius: 2em;
  margin: .5em;
}












/* Aantallen */
section:nth-of-type(6) ul {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

section:nth-of-type(6) ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

section:nth-of-type(6) h3 {
  font-size: 5em;
  font-weight: lighter;
}

@media (min-width: 54em) {
  section:nth-of-type(6) ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 1em;
  }

  section:nth-of-type(6) h3 {
    font-size: 6em;
    font-weight:200;
  }

  section:nth-of-type(6) p {
    font-size: 2em;
  }
}





