/*********************/
/* CSS PLAN JE BEZOEK*/
/*********************/

/* main navigatie */
section:nth-of-type(1) {
    display: grid;
    gap: 1rem;
  }

section:nth-of-type(1) a {
  color: #c5e3be;
  text-decoration: none;
  order: -1;
}

section:nth-of-type(1) a:hover{
  transform: translateY(-.2em)
}
  
  section:nth-of-type(1) > h1[aria-label],
  section:nth-of-type(1) > section > h2[aria-label] {
    display: none;
  }
  
  
  section:nth-of-type(1) > section:nth-of-type(1) {
    background-color: #001e07;
    color: #c5e3be;
    padding: 2.5rem 2.75rem 3rem 2.75rem;
    border-radius: 2rem;
  }
  
  section:nth-of-type(1) > section:nth-of-type(1) > h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  
  section:nth-of-type(1) > section:nth-of-type(1) nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  section:nth-of-type(1) > section:nth-of-type(1) nav li {
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: .75rem;
    padding: 1.15rem 0;
    border-bottom: 1px solid rgba(197, 227, 190, .1);
  }
  

  section:nth-of-type(1) > section:nth-of-type(1) nav li > a {
    display: flex;
    align-items: center;
    gap: .65rem;
    color: #c5e3be;
    text-decoration: none;
    flex: 1 1 auto;  
  }
  
 
  section:nth-of-type(1) > section:nth-of-type(1) nav li > a svg:first-of-type {
    flex: 0 0 auto;
  }

  section:nth-of-type(1) > section:nth-of-type(2) img {
    width: 100%;
    display: block;
    border-radius: 2rem;
    object-fit: cover;
  }




  @media (min-width: 70em) {
    section:nth-of-type(1) {
      display: grid;
      grid-template-columns: 1.1fr 0.9fr;
      gap: .5rem;
    }
  
    section:nth-of-type(1) > section:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      grid-column: 1;
      height: 100%;
    }
  
    section:nth-of-type(1) > section:nth-of-type(2) img {
      height: 100%;
      grid-column: 2;
    }
  }







/* ticketprijzen & openingstijden */
section:nth-of-type(2) h2{
  font-family: system-ui, sans-serif;
  font-size: clamp(2.2rem, 8vw, 4rem);
  font-weight: 500;
  line-height: 1.05;
  letter-spacing: -0.02em;
  margin: 1rem;
}


section:nth-of-type(2) select{
  width: 100%;
  font: inherit;
  padding: .9rem 2.5rem .9rem 0;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  background: transparent;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>");
  background-repeat: no-repeat;
  background-position: right .25rem center;
  background-size: 1.1rem;
  margin: 1rem;
}

section:nth-of-type(3) p{
  font-size: clamp(1rem, 2.8vw, 1.125rem);
  line-height: 1.6;
  margin: 1rem;
  
}





/* tabel ticketprijzen Bron: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/table*/
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: system-ui, sans-serif;
  font-size: clamp(.95rem, 2.6vw, 1.05rem);
  margin: 1rem;
  }
  
  th,td {
    text-align: left;
    font-weight: 600;
    padding: 1rem 0;
    border-bottom: 1px solid #e8e8e8;
  }
  
  th:first-of-type{
      text-align: left;
  }

  td:last-of-type {
    text-align: left;
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    text-align: left;
  }
  
/* koop je ticket knop */
section:nth-of-type(3) a{
  display: inline-block;
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: .9rem 1.25rem;
  border-radius: 999px;
  margin: 1.25rem;
}







/*Alles wat...onvergetelijk bezoek...*/
section:nth-of-type(4){
    margin: 1em;
    font-size: 1.5em;
    font-weight: lighter;
}








/* section route & parkeren" */
section:nth-of-type(5){
    display: flex;
    flex-direction: column;
    background-color: #001e07 ;
    border-radius: 10%;
    padding: 1em;
    color: #c5e3be;
}

section:nth-of-type(5) img{
    width: auto;
    order: 1;
    border-radius: 10%;
}

section:nth-of-type(5) h2{
    order:2;
}

section:nth-of-type(5) p{
    padding-top:1rem;
    padding-bottom:1rem;
    order:3;
}

section:nth-of-type(5) a{
    order:4;
    color:#c5e3be;
    text-decoration: none;
    padding-left: 1em;
}

@media (min-width: 64em) {

    section:nth-of-type(5){
      display: grid;
      grid-template-columns: 1.1fr 0.9fr;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: start;                   
      column-gap: 2.5rem;
      row-gap: 1rem;                        
      padding: 3rem;
      border-radius: 2.5rem;
      font-size: larger;
    }
  
    section:nth-of-type(5) h2, section:nth-of-type(5) p, section:nth-of-type(5) a {
      grid-column: 1;
      order: 0;
    }
  
    section:nth-of-type(5) h2 {
      margin-bottom: .5rem;
    }
  
    section:nth-of-type(5)  p {
      margin-bottom: .5rem;
    }
  
  
    section:nth-of-type(5) img {
      order: 0;
      grid-column: 2;
      grid-row: 1 / -1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
  }






/* section hoe druk...bezoek? */
section:nth-of-type(6){
    margin: 2em;
}

section:nth-of-type(6) p{
    margin-top: 2em;
    margin-bottom: 2em;
}

section:nth-of-type(6) a{
    color: black;
    text-decoration: none;
    margin-bottom: 4em;
}

@media (min-width: 64em) {
  section:nth-of-type(6){
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: larger;
  }
  section:nth-of-type(6) h2, 
  section:nth-of-type(6) p, 
  section:nth-of-type(6) a {
    grid-column: 2;
  }

  /*
  Ik had het eerst zo gedaan, maar ja dat werkt niet natuurlijk.. toen ik zag wat voor gekke dingen er allemaal gebeurde snapte ik gelukkig snel wat er mis ging.
  main section:nth-of-type(6) h2, p, a { 
    grid-column-start: 2; 
    grid-column-end: 2; }
   */

  

}



/* section eten & drinken" */
section:nth-of-type(7){
  display: flex;
  flex-direction: column;
  background-color: #f0f0ec ;
  border-radius: 10%;
  padding: 1em;
  color: black;
}

section:nth-of-type(7) img{
  width: auto;
  order: 1;
  border-radius: 10%;
}

section:nth-of-type(7) h2{
  order:2;
}

section:nth-of-type(7) p{
  padding-top:1rem;
  padding-bottom:1rem;
  order:3;
}

section:nth-of-type(7) a{
  order:4;
  color:black;
  text-decoration: none;
  padding-left: 1em;
}

@media (min-width: 64em) {

  section:nth-of-type(7){
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border-radius: 2.5rem;
    font-size: larger;
  }

  section:nth-of-type(7) h2, section:nth-of-type(7) p, section:nth-of-type(7) a {
    grid-column: 2;
    order: 0;
  }

  section:nth-of-type(7) > h2 {
    margin-bottom: 1.25rem;
  }

  section:nth-of-type(7) > p {
    margin-bottom: 1rem;
  }

  section:nth-of-type(7) > h2,
  section:nth-of-type(7) > p,
  section:nth-of-type(7) > a {
    align-self: start; 
    margin: 0;
  }

  section:nth-of-type(7) img {
    order: 0;
    grid-column: 1;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}
